.conternal{
    display: flex;
    width: 1000px;
    justify-content: space-between;

}
.box1{
    background-color: red;
    width: 100px;
    height: 100px;
    /* flex: 20; */
}
.box2{
    background-color:blue;
    width: 100px;
    height: 100px;
    /* flex: 30; */
}
.box3{
    background-color: aqua;
    width: 100px;
    height: 100px;
    /* flex: 50; */
}